In [1]:
import pandas as pd

C:\Users\user\AppData\Local\Temp\ipykernel_9412\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
nba = pd.read_csv("input_file/nba.csv")

In [3]:
nba.tail()

,Name,Team,Position,Height,Weight,College,Salary
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
nba["Name"].sort_values()

122        A.J. Lawson
324           AJ Green
6           AJ Griffin
141       Aaron Gordon
198      Aaron Holiday
            ...
83         Zach LaVine
149         Zeke Nnaji
291    Ziaire Williams
370    Zion Williamson
591                NaN
Name: Name, Length: 592, dtype: object

In [5]:
nba.sort_values(by="Name")

,Name,Team,Position,Height,Weight,College,Salary
122,A.J. Lawson,Dallas Mavericks,G,6-6,179.0,South Carolina,NaN
324,AJ Green,Milwaukee Bucks,G,6-5,190.0,Northern Iowa,1901769.0
6,AJ Griffin,Atlanta Hawks,F,6-6,220.0,Duke,3712920.0
141,Aaron Gordon,Denver Nuggets,F,6-8,235.0,Arizona,22266182.0
198,Aaron Holiday,Houston Rockets,G,6-0,185.0,UCLA,2346614.0
...,...,...,...,...,...,...,...
83,Zach LaVine,Chicago Bulls,G,6-5,200.0,UCLA,40064220.0
149,Zeke Nnaji,Denver Nuggets,F-C,6-9,240.0,Arizona,4306281.0
291,Ziaire Williams,Memphis Grizzlies,F,6-9,185.0,Stanford,4810200.0
370,Zion Williamson,New Orleans Pelicans,F,6-6,284.0,Duke,34005250.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
nba.sort_values("Name")

,Name,Team,Position,Height,Weight,College,Salary
122,A.J. Lawson,Dallas Mavericks,G,6-6,179.0,South Carolina,NaN
324,AJ Green,Milwaukee Bucks,G,6-5,190.0,Northern Iowa,1901769.0
6,AJ Griffin,Atlanta Hawks,F,6-6,220.0,Duke,3712920.0
141,Aaron Gordon,Denver Nuggets,F,6-8,235.0,Arizona,22266182.0
198,Aaron Holiday,Houston Rockets,G,6-0,185.0,UCLA,2346614.0
...,...,...,...,...,...,...,...
83,Zach LaVine,Chicago Bulls,G,6-5,200.0,UCLA,40064220.0
149,Zeke Nnaji,Denver Nuggets,F-C,6-9,240.0,Arizona,4306281.0
291,Ziaire Williams,Memphis Grizzlies,F,6-9,185.0,Stanford,4810200.0
370,Zion Williamson,New Orleans Pelicans,F,6-6,284.0,Duke,34005250.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
nba.sort_values(by="Name", ascending=True)

,Name,Team,Position,Height,Weight,College,Salary
122,A.J. Lawson,Dallas Mavericks,G,6-6,179.0,South Carolina,NaN
324,AJ Green,Milwaukee Bucks,G,6-5,190.0,Northern Iowa,1901769.0
6,AJ Griffin,Atlanta Hawks,F,6-6,220.0,Duke,3712920.0
141,Aaron Gordon,Denver Nuggets,F,6-8,235.0,Arizona,22266182.0
198,Aaron Holiday,Houston Rockets,G,6-0,185.0,UCLA,2346614.0
...,...,...,...,...,...,...,...
83,Zach LaVine,Chicago Bulls,G,6-5,200.0,UCLA,40064220.0
149,Zeke Nnaji,Denver Nuggets,F-C,6-9,240.0,Arizona,4306281.0
291,Ziaire Williams,Memphis Grizzlies,F,6-9,185.0,Stanford,4810200.0
370,Zion Williamson,New Orleans Pelicans,F,6-6,284.0,Duke,34005250.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
nba.sort_values(by="Name", ascending=False)

,Name,Team,Position,Height,Weight,College,Salary
370,Zion Williamson,New Orleans Pelicans,F,6-6,284.0,Duke,34005250.0
291,Ziaire Williams,Memphis Grizzlies,F,6-9,185.0,Stanford,4810200.0
149,Zeke Nnaji,Denver Nuggets,F-C,6-9,240.0,Arizona,4306281.0
83,Zach LaVine,Chicago Bulls,G,6-5,200.0,UCLA,40064220.0
515,Zach Collins,San Antonio Spurs,F-C,6-11,250.0,Gonzaga,7700000.0
...,...,...,...,...,...,...,...
141,Aaron Gordon,Denver Nuggets,F,6-8,235.0,Arizona,22266182.0
6,AJ Griffin,Atlanta Hawks,F,6-6,220.0,Duke,3712920.0
324,AJ Green,Milwaukee Bucks,G,6-5,190.0,Northern Iowa,1901769.0
122,A.J. Lawson,Dallas Mavericks,G,6-6,179.0,South Carolina,NaN
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
nba.sort_values(by="Salary")

,Name,Team,Position,Height,Weight,College,Salary
5,Trent Forrest,Atlanta Hawks,G,6-4,210.0,Florida State,508891.0
231,Isaiah Wong,Indiana Pacers,G,6-3,185.0,Miami,559782.0
93,Emoni Bates,Cleveland Cavaliers,F,6-9,170.0,Eastern Michigan,559782.0
400,Keyontae Johnson,Oklahoma City Thunder,F,6-6,230.0,Kansas State,559782.0
523,Sir'Jabari Rice,San Antonio Spurs,G,6-4,180.0,Texas,559782.0
...,...,...,...,...,...,...,...
547,Gary Trent Jr.,Toronto Raptors,G-F,6-5,209.0,Duke,NaN
578,Taj Gibson,Washington Wizards,F,6-9,232.0,Southern California,NaN
584,Kendrick Nunn,Washington Wizards,G,6-3,190.0,Oakland,NaN
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
nba.sort_values(by="Salary", ascending=False)

,Name,Team,Position,Height,Weight,College,Salary
175,Stephen Curry,Golden State Warriors,G,6-2,185.0,Davidson,51915615.0
461,Kevin Durant,Phoenix Suns,F,6-10,240.0,Texas,47649433.0
436,Joel Embiid,Philadelphia 76ers,C-F,7-0,280.0,Kansas,47607350.0
145,Nikola Jokic,Denver Nuggets,C,6-11,284.0,Mega Basket,47607350.0
261,LeBron James,Los Angeles Lakers,F,6-9,250.0,St. Vincent-St. Mary HS (OH),47607350.0
...,...,...,...,...,...,...,...
547,Gary Trent Jr.,Toronto Raptors,G-F,6-5,209.0,Duke,NaN
578,Taj Gibson,Washington Wizards,F,6-9,232.0,Southern California,NaN
584,Kendrick Nunn,Washington Wizards,G,6-3,190.0,Oakland,NaN
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
nba.sort_values(by="Salary", na_position="first")

,Name,Team,Position,Height,Weight,College,Salary
23,Blake Griffin,Boston Celtics,F,6-9,250.0,Oklahoma,NaN
26,Mfiondu Kabengele,Boston Celtics,C,6-10,250.0,Florida State,NaN
28,Svi Mykhailiuk,Boston Celtics,G-F,6-7,205.0,Kansas,NaN
35,Robert Williams III,Boston Celtics,C-F,6-9,237.0,Texas A&M,NaN
39,Nic Claxton,Brooklyn Nets,C,6-11,215.0,Georgia,NaN
...,...,...,...,...,...,...,...
261,LeBron James,Los Angeles Lakers,F,6-9,250.0,St. Vincent-St. Mary HS (OH),47607350.0
145,Nikola Jokic,Denver Nuggets,C,6-11,284.0,Mega Basket,47607350.0
436,Joel Embiid,Philadelphia 76ers,C-F,7-0,280.0,Kansas,47607350.0
461,Kevin Durant,Phoenix Suns,F,6-10,240.0,Texas,47649433.0
175,Stephen Curry,Golden State Warriors,G,6-2,185.0,Davidson,51915615.0

In [13]:
nba.sort_values(by="Salary", na_position="last")

,Name,Team,Position,Height,Weight,College,Salary
5,Trent Forrest,Atlanta Hawks,G,6-4,210.0,Florida State,508891.0
231,Isaiah Wong,Indiana Pacers,G,6-3,185.0,Miami,559782.0
93,Emoni Bates,Cleveland Cavaliers,F,6-9,170.0,Eastern Michigan,559782.0
400,Keyontae Johnson,Oklahoma City Thunder,F,6-6,230.0,Kansas State,559782.0
523,Sir'Jabari Rice,San Antonio Spurs,G,6-4,180.0,Texas,559782.0
...,...,...,...,...,...,...,...
547,Gary Trent Jr.,Toronto Raptors,G-F,6-5,209.0,Duke,NaN
578,Taj Gibson,Washington Wizards,F,6-9,232.0,Southern California,NaN
584,Kendrick Nunn,Washington Wizards,G,6-3,190.0,Oakland,NaN
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
nba.sort_values(by="Salary", ascending=False, na_position="first")

,Name,Team,Position,Height,Weight,College,Salary
23,Blake Griffin,Boston Celtics,F,6-9,250.0,Oklahoma,NaN
26,Mfiondu Kabengele,Boston Celtics,C,6-10,250.0,Florida State,NaN
28,Svi Mykhailiuk,Boston Celtics,G-F,6-7,205.0,Kansas,NaN
35,Robert Williams III,Boston Celtics,C-F,6-9,237.0,Texas A&M,NaN
39,Nic Claxton,Brooklyn Nets,C,6-11,215.0,Georgia,NaN
...,...,...,...,...,...,...,...
336,Lindell Wigginton,Milwaukee Bucks,G,6-1,189.0,Iowa State,559782.0
143,Jay Huff,Denver Nuggets,C,7-1,240.0,Virginia,559782.0
244,Jordan Miller,Los Angeles Clippers,G,6-7,194.0,Miami,559782.0
147,Braxton Key,Denver Nuggets,F,6-8,225.0,Virginia,559782.0
5,Trent Forrest,Atlanta Hawks,G,6-4,210.0,Florida State,508891.0