In [4]:
import pandas as pd

In [5]:
nba = pd.read_csv("input_file/nba.csv")

In [6]:
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
nba.sort_values(by=["Team", "Name"])

,Name,Team,Position,Height,Weight,College,Salary
6,AJ Griffin,Atlanta Hawks,F,6-6,220.0,Duke,3712920.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
8,De'Andre Hunter,Atlanta Hawks,F-G,6-8,221.0,Virginia,20089286.0
...,...,...,...,...,...,...,...
578,Taj Gibson,Washington Wizards,F,6-9,232.0,Southern California,NaN
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
580,Tyus Jones,Washington Wizards,G,6-2,196.0,Duke,14000000.0
573,Xavier Cooks,Washington Wizards,F,6-8,183.0,Winthrop,1719864.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
nba.sort_values(by=["Team", "Name"], ascending=True)

,Name,Team,Position,Height,Weight,College,Salary
6,AJ Griffin,Atlanta Hawks,F,6-6,220.0,Duke,3712920.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
8,De'Andre Hunter,Atlanta Hawks,F-G,6-8,221.0,Virginia,20089286.0
...,...,...,...,...,...,...,...
578,Taj Gibson,Washington Wizards,F,6-9,232.0,Southern California,NaN
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
580,Tyus Jones,Washington Wizards,G,6-2,196.0,Duke,14000000.0
573,Xavier Cooks,Washington Wizards,F,6-8,183.0,Winthrop,1719864.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
nba.sort_values(by=["Team", "Name"], ascending=False)

,Name,Team,Position,Height,Weight,College,Salary
573,Xavier Cooks,Washington Wizards,F,6-8,183.0,Winthrop,1719864.0
580,Tyus Jones,Washington Wizards,G,6-2,196.0,Duke,14000000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
578,Taj Gibson,Washington Wizards,F,6-9,232.0,Southern California,NaN
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
...,...,...,...,...,...,...,...
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
6,AJ Griffin,Atlanta Hawks,F,6-6,220.0,Duke,3712920.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
nba.sort_values(by=["Team", "Name"], ascending=[True, False])

,Name,Team,Position,Height,Weight,College,Salary
12,Wesley Matthews,Atlanta Hawks,G,6-5,220.0,Marquette,3196448.0
5,Trent Forrest,Atlanta Hawks,G,6-4,210.0,Florida State,508891.0
17,Trae Young,Atlanta Hawks,G,6-1,164.0,Oklahoma,40064220.0
10,Seth Lundy,Atlanta Hawks,G,6-6,220.0,Penn State,559782.0
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
...,...,...,...,...,...,...,...
576,Daniel Gafford,Washington Wizards,F-C,6-10,234.0,Arkansas,12402000.0
581,Corey Kispert,Washington Wizards,F,6-6,224.0,Gonzaga,3722040.0
574,Bilal Coulibaly,Washington Wizards,G,6-6,195.0,Metropolitans 92,6614256.0
579,Anthony Gill,Washington Wizards,F,6-8,230.0,Virginia,1997238.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
nba.sort_values(by=['Team', 'Salary'])

,Name,Team,Position,Height,Weight,College,Salary
5,Trent Forrest,Atlanta Hawks,G,6-4,210.0,Florida State,508891.0
10,Seth Lundy,Atlanta Hawks,G,6-6,220.0,Penn State,559782.0
15,Miles Norris,Atlanta Hawks,NaN,NaN,NaN,NaN,559782.0
7,Mouhamed Gueye,Atlanta Hawks,F,6-11,210.0,Washington State,1119563.0
11,Garrison Mathews,Atlanta Hawks,G,6-6,215.0,Lipscomb,2000000.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
578,Taj Gibson,Washington Wizards,F,6-9,232.0,Southern California,NaN
584,Kendrick Nunn,Washington Wizards,G,6-3,190.0,Oakland,NaN
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
nba.sort_values(by=["Team", "Salary"], ascending=True)

,Name,Team,Position,Height,Weight,College,Salary
5,Trent Forrest,Atlanta Hawks,G,6-4,210.0,Florida State,508891.0
10,Seth Lundy,Atlanta Hawks,G,6-6,220.0,Penn State,559782.0
15,Miles Norris,Atlanta Hawks,NaN,NaN,NaN,NaN,559782.0
7,Mouhamed Gueye,Atlanta Hawks,F,6-11,210.0,Washington State,1119563.0
11,Garrison Mathews,Atlanta Hawks,G,6-6,215.0,Lipscomb,2000000.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
578,Taj Gibson,Washington Wizards,F,6-9,232.0,Southern California,NaN
584,Kendrick Nunn,Washington Wizards,G,6-3,190.0,Oakland,NaN
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
nba.sort_values(by=["Team", "Salary"], ascending=False)

,Name,Team,Position,Height,Weight,College,Salary
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
582,Kyle Kuzma,Washington Wizards,F,6-9,221.0,Utah,25568182.0
580,Tyus Jones,Washington Wizards,G,6-2,196.0,Duke,14000000.0
576,Daniel Gafford,Washington Wizards,F-C,6-10,234.0,Arkansas,12402000.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
...,...,...,...,...,...,...,...
7,Mouhamed Gueye,Atlanta Hawks,F,6-11,210.0,Washington State,1119563.0
10,Seth Lundy,Atlanta Hawks,G,6-6,220.0,Penn State,559782.0
15,Miles Norris,Atlanta Hawks,NaN,NaN,NaN,NaN,559782.0
5,Trent Forrest,Atlanta Hawks,G,6-4,210.0,Florida State,508891.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
nba.sort_values(by=["Team", "Salary"], ascending=[True, False])

,Name,Team,Position,Height,Weight,College,Salary
17,Trae Young,Atlanta Hawks,G,6-1,164.0,Oklahoma,40064220.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
8,De'Andre Hunter,Atlanta Hawks,F-G,6-8,221.0,Virginia,20089286.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
14,Dejounte Murray,Atlanta Hawks,G,6-5,180.0,Washington,18214000.0
...,...,...,...,...,...,...,...
585,Eugene Omoruyi,Washington Wizards,F,6-6,235.0,Oregon,559782.0
578,Taj Gibson,Washington Wizards,F,6-9,232.0,Southern California,NaN
584,Kendrick Nunn,Washington Wizards,G,6-3,190.0,Oakland,NaN
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN